<%= provide( :title, "CS150_raffy4284") %>
<h1>CS150 Project</h1>
<p>
    CS150 is a class that teaches synchronous and asynchronous digital systems. Various concepts include designing various digital circuits using CMOS technology, to implementing LFSR's, SRAM's, DRAM's and much more. The class project emphasizes on designing a 3 staged pipelined CPU using RISC-V instruction set developed in Berkeley. The CPU was programmed using an FPGA and was debugged using Chipscope, and modelsim. This class is where programming meets electrical engineering.
</p>
<ul><h3>Specs:</h3>
	<li>spec1</li>
	<li>spec2</li>
	<li>spec3</li>
</ul>

<h3>Final Design</h3>
<img src = "#">
<p>description of the design.</p>

<h3>Meeting the specs...</h3>
<p>
	Describe how the specs were met...
</p>

<h3>Screenshot of design</h3>
<p>
	<img src = "#">
	graphs and figures go here along with description
</p>

<p>More to come</p>
