<%= provide( :title, "EE140_raffy4284") %>
<h1>EE140 Project</h1>
<p>
	EE140 is a class analyzing and synthesizing linear integrated circuits using the CMOS technology. The class project was to design an opamp using CMOS technology. 
</p>
<ul><h3>Specs:</h3>
	<li>spec1</li>
	<li>spec2</li>
	<li>spec3</li>
</ul>

<h3>Final Design</h3>
<img src = "#">
<p>description of the design.</p>

<h3>Meeting the specs...</h3>
<p>
	Describe how the specs were met...
</p>

<h3>Graphs and figures</h3>
<p>
	<img src = "#">
	graphs and figures go here along with description
</p>

<p>More to come</p>
